* {
	box-sizing: border-box;
}
:root {
	--media-1024: calc(1024 / 16) em;
	--root-padding: 2rem;
	--box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
	--day-done-color: #7ae67a;
	--day-not-done-color: #ff5a5a96;
	--error-color: rgb(231, 88, 88);
	--succes-color: rgb(90, 219, 108);
	--primary-color: #5051f9;
	--max-width: 128rem;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Comfortaa", cursive;
	margin: 0;
	background-color: #f3f6fd;
	font-weight: 400;
	width: var(--media-1024);
}
button {
	font: inherit;
}
.app {
	display: flex;
}
label {
	font-size: 1.2rem;
}
#root {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
a,
a:visited,
a:active {
	color: #232360;
	font-size: 1.4rem;
}
.logo {
	width: 10rem;
	height: 10rem;
	cursor: pointer;
	z-index: 2;
	top: 3rem;
	left: calc(16rem / 2);
}

.panel {
	background: white;
	position: fixed;
	height: 60rem;
	padding: 1rem 3rem 3rem 3rem;
	z-index: 1;
	width: 16rem;
	overflow: hidden;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	align-items: center;
}

.menu__list {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	align-items: center;
}

.menu__item {
	background: #ffffff;
	box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
	border-radius: 14px;
	border: none;
	height: 45px;
	width: 45px;
	cursor: pointer;
}
.nav__buttons {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}
.menu__item:hover {
	background: #6a6afb;
}

.menu__item:hover img {
	filter: brightness(0) invert(1);
}

.menu__item_active {
	background: #5051f9;
}

.menu__item_active img {
	filter: brightness(0) invert(1);
}

.menu__add {
	background: none;
	border: 1px solid #cad5ff;
	border-radius: 14px;
	height: 4.5rem;
	width: 4.5rem;
	cursor: pointer;
	color: #cad5ff;
}
.menu__add img {
	height: 2.4rem;
	width: 2.4rem;
}
.menu__add svg path {
	stroke: #cad5ff;
}
.menu__add:hover {
	background: #eff2ff;
}

.content {
	flex: 1;
	padding-left: calc(16rem + 4.5rem);
	display: flex;
	flex-direction: column;
	height: 5000px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 3rem;
	line-height: 3.3rem;
	color: #000000;
}

h3 {
	font-size: 2.2rem;
	text-align: left;
}

.progress {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	min-width: 23.5rem;
}

.progress__text {
	display: flex;
	justify-content: space-between;
}

.progress__name {
	font-size: 1.4rem;
	line-height: 1.6rem;
	color: #232360;
}

.progress__percent {
	font-size: 1.2rem;
	line-height: 1.3rem;
	color: #768396;
}

.progress__bar {
	width: 100%;
	background: #e6e9ed;
	border-radius: 4px;
	height: 5px;
	position: relative;
}

.progress__cover-bar {
	position: absolute;
	transition: all 0.5s;
	height: 5px;
	border-radius: 4px;
	background: #5051f9;
}

main {
	margin-top: 30px;
}

.habbit {
	background: #ffffff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.habbit__day {
	background: #fbfaff;
	border-radius: 10px 0 0 10px;
	border-right: 1px solid #e7ebfb;
	font-size: 14px;
	line-height: 16px;
	padding: 2rem 4rem;
	min-width: 15rem;
}

.habbit__comment {
	font-size: 1.6rem;
	line-height: 1.8rem;
	padding: 2rem 2.5rem;
}

.habbit__delete {
	margin-left: auto;
	margin-right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	padding: 2px;
}

.habbit__delete:hover {
	background: #eff2ff;
}
textarea {
	width: 100%;
	resize: vertical;
}
input, textarea {
	background: #ffffff;
	border: 1px solid #e7ebfb;
	border-radius: 1rem;
	padding: 1.2rem 2rem;
	font-family: "Comfortaa", cursive;
	flex: 1;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

input::placeholder, textarea::placeholder {
	color: #8899a8;
}

input.error,
textarea.error {
	box-shadow: inset 0 0 0px 2px red;
}
.auth-page__wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 2rem * 2);
	flex-direction: column;
}
.auth-page__image {
	width: 150px;
}
.login-form__wrapper {
	text-align: left;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	width: 40%;
	gap: 2rem;
}
.login-form__wrapper .h2 {
	text-align: center;
}
.input__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}
.habbit__form {
	display: flex;
	gap: 1.5rem;
	width: 100%;
	padding: 0px 1rem 0 2.5rem;
	position: relative;
}

.input_icon {
	padding-left: 4.5rem;
}

.input__icon {
	position: absolute;
	top: 1rem;
	left: 4.5rem;
}

.button {
	background: #edecfe;
	border-radius: 1rem;
	border: none;
	font-size: 1.3rem;
	line-height: 1.4rem;
	color: #5051f9;
	padding: 1.4rem 3rem;
	cursor: pointer;
}
button img {
	width: 2.4rem;
	height: 2.4rem;
}
.button:hover {
	background: #dcdaff;
}

.cover {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.25);
	z-index: 5;
	min-height: 100vh;
	overflow: auto;
}

.cover_hidden {
	display: none;
}

.popup {
	margin: 5rem auto;
	vertical-align: middle;
	background: #ffffff;
	box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
	border-radius: 10px;
	max-width: 60rem;
	width: 100%;
	padding: 2rem;
	/* position: relative; */
	/* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 6;
}

.popup__close {
	position: absolute;
	right: 15px;
	top: 15px;
	border: none;
	background: none;
	cursor: pointer;
}

h2 {
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 2.7rem;
}

.icon-label {
	font-size: 1.4rem;
	line-height: 1.6rem;
	color: #768396;
	margin-bottom: 1rem;
}

.icon-select {
	display: flex;
	gap: 2.5rem;
	margin-bottom: 2rem;
}

.icon {
	border: 1px solid #5051f9;
	border-radius: 14px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.5rem;
	height: 4.5rem;
	cursor: pointer;
}

.icon_active {
	background: #5051f9;
}

.icon:hover {
	background: #6a6afb;
	
}

.icon:hover img {
	filter: brightness(0) invert(1);
}
.icon img {
	color: #5051f9;
}
.icon_active img {
	filter: brightness(0) invert(1);
}

.popup__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.popup__form input {
	width: 100%;
}

.habbit__calendar {
	display: grid;
	/* min-height: 50rem; */
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	margin-bottom: 2rem;
}
.habbit__calendar_day {
	background-color: white;
	height: 15rem;
	border-radius: 1rem;
	transition: box-shadow 0.4s ease;
	padding: 1rem;
	user-select: none;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.habbit__calendar_day:hover {
	box-shadow: var(--box-shadow);
}

.habbit__calendar_day__item-num {
	font-size: 1.6rem;
	line-height: 2.1rem;
	margin: 0;
	text-align: left;
	color: #768396;
}

/*
	1920
*/

@media (min-width: 120em) {
	html {
		font-size: 90%;
	}
}

/*
	1366
*/

@media (max-width: 85.375em) {
	.panel {
		height: calc(100vh - var(--root-padding) * 2);
	}
}
/*
	1024px / 16 = 64em
*/
@media (max-width: 64em) {
	.habbit__calendar {
		grid-template-columns: repeat(4, 1fr);
	}
	.login-form__wrapper {
		width: 60%;
	}
}
/*
	900px
*/
@media (max-width: 56.25em) {
	.app {
		flex-direction: column;
	}
	.nav__buttons {
		flex-direction: row;
	}
	.panel {
		padding: 0;
		z-index: 1;
		width: calc(100% - var(--root-padding) * 2);
		height: 10rem;
		display: flex;
		justify-content: space-between;
		padding-right: 2rem;
		position: absolute;
		flex-direction: row;
	}
	.content {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: calc(10rem + 4.5rem);
	}
	.logo {
		top: 0;
		left: 0;
		position: relative;
	}
	.login-form__wrapper {
		width: 70%;
	}
}

.footer {
	border-radius: 1rem;
	width: 100%;
	height: 10rem;
	background-color: white;
	margin-top: 6rem;
	padding: 1rem;
}
/*
	breakpoint

	768px / 16 = 48em
*/
@media (max-width: 48em) {
	.content {
		padding-left: 0rem;
		padding-right: 0rem;
		padding-top: calc(10rem + 4.5rem);
	}
	.login-form__wrapper {
		width: 100%;
	}
}

/*
	breakpoint

	620px / 16 = 40.625em
*/
@media (max-width: 40.625em) {
	header {
		flex-direction: column;
	}
	.habbit__calendar {
		grid-template-columns: repeat(3, 1fr);
	}

	h3 {
		text-align: center;
	}
}

.transition {
	transition: opacity 0.5s ease 0s;
}

.wewe {
	opacity: 0;
	visibility: hidden;
}
